.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.Site-content:after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}

.site-footer {
  padding: 2em 0;
  color: white;
  background: black;
  opacity: 0.8;
  height: 130px;
  margin-bottom: 0px;
  box-shadow: 4px 6px 6px 6px black;
}

.site-footer li a {
  padding-top: 24px;
  margin-left: 12px;
  margin-right: 12px; }